/* --------------共用結構設定 --------------*/
/* --------首頁頁尾設定-------- */

#header, #footer{
    width: calc(100% - 20px);
    padding: 0 10px;
}
#header{
    height: 120px;
}
#logo a{
    width: 250px;
    height: 120px;
}
#footer{
    border-bottom: solid 15px var(--orange-2);
}
#small-logo, #sns{
    display: none;
}
#small-logo,
#copyright {
    padding-top: 0;
}
#copyright{
    text-align: center;
    width: 100%;
}
#copyright a, #copyright small{
    display: block;
    margin-left: 0;
    padding-top: 10px;
}
/* --------選單設定-------- */
#nav{
    width: 50%;
    margin-top: 30px;
}
/* --------上層固定-------- */
#top-nav{
    float: none;
    width: 70%;
    margin: 5px 20px 5px 0;
    font-size: var(--normal);
    display: flex;
    justify-content: flex-end;
}
@media (max-width:520px){
    #nav{
        width: 120px;
    }
    #top-nav a{
        display: block;
        width: 70px;
        margin-left: 10px;
        float: left;
    }
    #top-nav .topnav-text{
        display: none;
    }
}
@media (max-width:400px){
    #nav{
        width: 80px;
    }
    #top-nav{
        display: none;
    }
    #top-nav .topnav-text{
        display: none;
    }
}
/* --------主選單-------- */
#main-nav{
    float: none;
    position: fixed;
    width: 100%;
    top: 40px;
    right: 25px;
    z-index: 9999;
    font-size: var(--h6);
}
#main-nav:active .tip{
    visibility: visible;
}

#main-nav a{
    width: 100%;
    margin-left: 0;
    color: var(--orange-2);
    background-color: var(--empty);
}

#main-nav a{
    display: block;
    color: var(--orange);
    background-color: var(--bg-blue);
    width: 100%;
    line-height: 65px;
    border-radius: 10px;
    transition: 0.5s ease-in;
}
#main-nav a:hover,#main-nav a:active{
    color: var(--orange-2);
    text-decoration: none;
    box-shadow: inset 2000px 0 0 0 darkblue;
}


/* 滑鼠滑入作用按鈕變色 */
#main-nav a:hover,
#main-nav a:active {
    color: var(--gray);
    text-transform: uppercase;
    border-bottom: none;
}
#main-nav li{
    float: none;
}

/* 作用文字 */
.highlight_txt{
    border-bottom: none;
    color: var(--gray) !important;
    background-color: rgba(235, 87, 87, 0.3) !important;
}

/* 針對第二層選單 */
#main-nav li li a{
    display: block;
    margin-right: 40px;
    float: left;
    font-size: var(--normal);
}
#main-nav ul ul {
    transform: translate(450%, -67%);
    visibility: hidden;
}
#main-nav ul ul a{
    width: 100px;
}
.menu > div > div > ul > li > a{
    transition: all .4s ease;
}


/* 漢堡選單設定 */
.toggler{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.hamburger{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 12px;
    background-color: var(--orange-2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger > div{
    width: 100%;
    height: 2px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
    position: relative;
}
.hamburger > div::before, .hamburger > div::after{
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 2px;
    background-color: inherit;
}
.hamburger > div::before{
    top: -10px;
}
.hamburger > div::after{
    top: 10px;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu > div{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    width: 300vw;
    height: 300vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all .4s ease;
} 
/* 選單透明底色範圍 */
.menu > div > div{
    text-align: center;
    width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity .4s ease;
}

/* ---開啟選單圖示--- */
.toggler:checked + .hamburger>div{
    transform: rotate(135deg);
}
.toggler:checked + .hamburger>div::before, .toggler:checked + .hamburger>div::after{
    top: 0;
    transform: rotate(90deg);
}
/* ---開啟選單後經過漢堡選單圖示--- */
.toggler:checked:hover + .hamburger>div{
    transform: rotate(225deg);
}
/* ---開啟選單後秀出原選單--- */
.toggler:checked~.menu{
    visibility: visible;
}
.toggler:checked~.menu>div{
    transform: scale(1);
    transition-duration: 0.75s;
}
.toggler:checked~.menu>div>div{
    opacity: 1;
    transition: opacity 0.4s ;
}

/* ---sns選單--- */
#nav-sns{
    margin-top: 30px;
    display: block;
}
#nav-sns a{
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 5px;
}
#nav-sns a:hover{
    background-color: var(--empty);
}


/* --------版面主結構設定-------- */
#main-content{
    width: calc(100% - 20px);
    padding: 10px;
}
/* --------------內頁版面設定 --------------*/
/* --------首頁設定-------- */
.slogan, .post{

    width: 80%;
    float: none;
    margin: 30px auto;
}
#slogan, .post, .post_text{
    height: auto;
}
.slogan h2, .post_title{
    font-size: var(--h4);
    text-align: center;
}
.slogan p, .post_text{
    font-size: var(--h6);
}
.post_img{
    width: 100%;
}
.post_text{
    width: calc(100% - 20px);
    padding: 10px;
    line-height: 1.2;
}

.post .more{
    padding-right: 15px;
    font-size: var(--normal);
}
.post .more a{
    font-weight: normal;
}
/* picshow設定 */
#picshow{
    flex-wrap: wrap;
}
#picshow a{
    width: 50%;
}

/* --------iframe設定-------- */
#movie {
    height: 350px;
    margin-bottom: 20px;
}

#movie iframe {
    height: 350px;
}
/* --------------各版面設定 --------------*/
/* --------首頁版面設定-------- */
/* --------橫福設定-------- */
#banner {
    margin: 30px 0;
}

#banner img {
    height: auto;
    width: 100vw;
}

/* --------------內頁版面設定 --------------*/
/* --------橫幅設定-------- */
.hero-image {
    margin-bottom: 0;
}

.hero-text h1 {
    font-size: 30px;
    line-height: 1.2;
}

.hero-text p {
    font-size: var(--small);
    line-height: 1.2;
}

/* 圖片展示設定 */
#picshow{
    clear: both;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0;
}
#picshow a, #picshow a img{
    width: 100%;
    height: auto;
}

/* --------about設定-------- */


/* --------news_lady設定-------- */
#main-content .row .column {
    width: 50%;
}

.collaps_text {
    -webkit-line-clamp: 3;
}
.column-text {
    column-count: 1;
}

.collaps_downtext {
    line-height: 1.7;
}

.row .column .content p,
.column-text p{
    font-size: 110%;
}